proxmox_endpoint = "https://YOUR_PROXMOX_IP:8006/"
proxmox_api_token = "root@pam!terraform=YOUR_TOKEN_VALUE"
proxmox_insecure = true

proxmox_node_name = "pve"
datastore_id = "local-lvm"
network_bridge = "vmbr0"

template_vmid = 9000

test_vm_id = 9200
test_vm_name = "tf-test-ubuntu-2404"

ssh_public_key_path = "/Users/$USER/.ssh/id_ed25519.pub"